/* h1 {
    color: red;
}
p{
    color: green;
}

button{
    color:rgb(rgb(165, 95, 95), green, blue)
}

/* background color */
/* body{
    background-color: lightblue;
} */ 

/* ---------universal selector--- */
/* *{
    color:blue;
} */

/* text properties */
/* p{
    text-align: center;
    text-decoration: underline;
    
}

h1{
    font-weight: bold;
    text-align: center;
    font-family: Arial;
} */

/* #one{
    font-size: 25px;
}
#two{
    font-size: 30px;
}
#three{
    font-size: 35px;
} */

/* div {
    height: 100px;
    width: 100px;
    background-color: pink;
    /* border-width: 2px; */
    /* border-style:solid; */
    /* border: 2px solid brown;
    text-align: right; 
} */

/* h1{
    width: 200px;
    height: 50px;
    background-color: aquamarine;

    border: 3px dashed black;
    text-align:center;
    border-radius: 1px;
}

h1{
    padding:20px;
}

p{
    padding:20px;
} */

/* div{
    background-color: pink;
    display:inline;
}

button{
    display: bolck;
} */


/* div{
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;

} */
/* 
#box1{
    width:100px;
    height: 100px;
    background-color: green;
    border: 2px rgb(0, 0, 0);

}

#box2{
    width:30%;
    height: 50px;
    /* height: 100px; */
    /* background-color: rgb(163, 255, 16); */
    /* margin-left:10% */
/* } */
/* 
div{
    height: 100px;
    width: 100px;
    background-color: rgb(105, 207, 247);
    border: 2px solid  black;
    display: inline-block;

} */

/* #box1{
    position : static;
}

#box2{
    position: relative;
    top: 10px;
    left :10px;
    bottom: 40px;
}

box3{
    position: absolute;
    top: 10px;
    left: 20px;

}

box4 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 10;
}


 box4{
    position: sticky;
    top: 0;
}
 */


/* ------------------ */
 
/* div{
    height: 100px;
    width: 100px;
    background-color: rgb(105, 207, 247);
    border: 2px solid  black;
    display: inline-block;

}

#box1{
    background-image: url("ray.jpg"); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-image: contain; */
    /* background-repeat: auto; */
/* } */

/* body{
    background-image: url("ray.jpg");
    background-size: cover;
} */

/* -----------flex box---------- */
body{
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    background-color: rgb(105, 207, 247);
    border: 2px solid  black;
    display: inline-block;
}

#container{
    width:800px;
    height:200px;
    display: flex;
    /* flex-direction: row-reverse; direction left se right */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    justify-content:  center;
    justify-content: space-around;
}  